*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/*navbar*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #222831;
}

.logo{
    width: 7%;
    height: 7%;
    margin-top: 5px;
}

.logo:hover{
    cursor: pointer;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #eeeeee;
    font-weight: bold;
}

.nav-links a:hover{
    color: #9fc131;
    transition: color 0.3s ease-in-out;
}

.menu-burger{
    display: none;
    cursor: pointer;
}

.menu-burger div{
    width: 25px;
    height: 4px;
    background-color: #eeeeee;
    margin: 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.toggle-links .bar1{
    transform: rotate(-45deg) translate(-6px, 6px);
}

.toggle-links .bar2{
    opacity: 0;
}

.toggle-links .bar3{
    transform: rotate(45deg) translate(-6px, -6px);
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .logo{
        width: 15%;
        height: 15%;
    }
    .nav-links{
        background-color: #222831;
        position: absolute;
        right: 0;
        margin-top: 13px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: all 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
        padding: 20px;
    }
    .menu-burger{
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .nav-links{
        margin-top: 2px;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

/*section-a*/
#section-a{
    background-color: #222831;
    height: 90vh;
}

#first-section{
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

#first-section h1{
    font-size: 2em;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: capitalize;
}

#first-section h1 #name{
    color: #9fc131;
}

.btn-intro{
    color: #9fc131;
    border: 2px solid #9fc131;
    padding: 10px;
    margin-top: 20px;
    transition-duration: 0.3s ;
}

.btn-intro:hover{
    background-color: #393e46;
    cursor: pointer;
    text-decoration: none;
    color: #9fc131;
    transform: scale(1.1);
}

.btn_down{
    color: #bebebe;
    display: flex;
    font-size: 40px;
    text-decoration: none;
    justify-content: center;
}

.btn_down:hover{
    color: #eeeeee;
    text-decoration: none;
}

/*section-b*/
#section-b{
    height: 50vh;
    margin: 50px 50px 0 50px;
}

#section-b h1{
    text-align: left;
    margin-left: 30px;
    font-weight: bold;
    font-size: 2em;
    text-transform: capitalize;
}

.about{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about img{
    width: 40%;
}

.about-txt{
    text-align: justify;
    width: 50%;
}

.about-txt #extra{
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    #section-b h1{
        margin-left: 5px;
    }
    .about{
        display: flex;
        flex-direction: column;
    }
    .about-txt{
        width: 100%;
    }
    .about img{
        width: 100%;
        margin-top: 20px;
    }
}

/*section-c*/
#section-c{
    height: 50vh;
    margin: 50px;
}

#section-c h1{
    text-align: left;
    margin-left: 30px;
    font-size: 2em;
    font-weight: bold;
}

@media screen and (max-width: 768px){
     #section-c{
         margin-top: 20%;
     }
}

/*section-d*/
#section-d{
    margin: 50px;
}

#section-d h1{
    text-align: left;
    margin-left: 30px;
    font-size: 2em;
    font-weight: bold;
}

/*web section*/
.projects{
    padding: 10px 50px;
}

.projects h5{
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.web-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    box-shadow: 3px 3px 5px 5px #d9d8d8;
    margin-bottom: 50px;
}

.web-card img{
    width: 100%;
}

.web-card h4{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.25em;
    margin-bottom: 10px;
}

.web-card p{
    margin-bottom: 20px;
}

.web-card > div{
    padding: 50px;
}

.web-card:nth-child(even) img{
    order: 2;
}

.btn-demo{
    background-color: #222831;
    padding: 10px;
    border-radius: 5px;
    color: #eeeeee;
}

.btn-code{
    background-color: #9fc131;
    padding: 10px;
    border-radius: 5px;
    color: #eeeeee;
    margin-left: 10px;
}

.btn-behance{
    background-color: #053eff;
    padding: 10px;
    border-radius: 5px;
    color: #eeeeee;
}

.btn-dribbble{
    background-color: #ea4c89;
    padding: 10px;
    border-radius: 5px;
    color: #eeeeee;
    margin-left: 10px;
}

.btn-demo:hover, .btn-code:hover, .btn-behance:hover, .btn-dribbble:hover{
    color: #eeeeee;
    opacity: 0.8;
    text-decoration: none;
}

.link-see-more{
    color: #222831;
    font-weight: bold;
    text-align: right;
    border-bottom: 2px solid #222831;
}

.link-see-more:hover{
    color: #9fc131;
    text-decoration: none;
    border-bottom: 2px solid #9fc131;
}

@media screen and (max-width: 768px) {
    .btn-dribbble, .btn-behance{
        display: block;
        margin: 10px;
        width: 50%;
    }
    #section-d{
        margin-top: -10%;
    }
}

@media screen and (max-width:600px) {
    #section-d{
        margin-top: 100%;
    }
    .web-card {
        display: block;
    }
}

@media screen and (max-width:480px) {
    .btn-dribbble, .btn-behance{
        display: block;
        margin: 10px;
        width: 50%;
    }
}